<h2>Group: <%= link_to @group.group_name, :action => 'list', :id => @group -%> &raquo; <%= @blueprint.blueprint_name -%></h2>

<div>
  <table class='infoTable'>
    <% label_class = lambda { cycle('infoTableRow','infoTableRowAlt', :name => 'label') } -%>
    <% field_class = lambda { cycle('infoTableRow','infoTableRowAlt', :name => 'field') }-%>
    <tr>
      <td colspan='2' class='infoTableHead'>Blueprint Summary</td>
    </tr>

    <tr>
      <td class='<%= label_class.call -%> infoTableSubhead'>Blueprint</td>
      <td class='<%= field_class.call -%>'><%= @blueprint.blueprint_name -%></td>
    </tr>

    <tr>
      <td class='<%= label_class.call -%> infoTableSubhead'>Tech Level</td>
      <td class='<%= field_class.call -%>'><%= @blueprint.tech_level -%></td>
    </tr>
    <tr>
      <td class='<%= label_class.call -%> infoTableSubhead'>BPO Cost (est)</td>
      <td class='<%= field_class.call -%>'><%= number_to_isk(@blueprint.base_price) -%></td>
    </tr>
    <tr>
      <td class='<%= label_class.call -%> infoTableSubhead'>Produces</td>
      <td class='<%= field_class.call -%>'><%= pluralize(@blueprint.product_batch_quantity, @blueprint.product_name) -%></td>
    </tr>

    <tr>
      <td class='<%= label_class.call -%> infoTableSubhead'>Max Runs</td>
      <td class='<%= field_class.call -%>'><%= @blueprint.production_limit -%></td>
    </tr>

    <tr>
      <td class='<%= label_class.call -%> infoTableSubhead'>Run Cost</td>
      <td class='<%= field_class.call -%>'><%= number_to_isk(@blueprint.run_cost) -%></td>
    </tr>

    <tr>
      <td class='infoTableButtonRow <%= field_class.call -%>' colspan='2'>
        <% form_tag :controller => 'inventory', :action => 'new', :id => @blueprint do %>
          <%= submit_tag 'Add to Inventory' %>
        <% end -%>
      </td>
    </tr>
  </table>
</div>

<br />

<div id='detail-tabs'>
  <ul>
    <li><a href='#bom'>Bill of Materials</a></li>
    <li><a href='#skills'>Skills</a></li>
    <li><a href='#external'>Links</a></li>
  </ul>

  <div id='bom'>
    <p>Material efficiency level 0, no incompetence waste.</p>
    <%= render :partial => 'bom', :locals => {:me_level => 0} %>
  </div>

  <div id='skills'>
    <%= render :partial => 'skills' %>
  </div>

  <div id='external'>
    <%= render :partial => 'external' %>
  </div>
</div>

<script type='text/javascript'>
<!--
  $(document).ready(function() {
    $('#detail-tabs').tabs();
  });
-->
</script>
