<h2><%= @blueprint.blueprint_name -%></h2>

<p><%= link_to 'Edit ME/PE', :action => 'edit', :id => @item -%></p>

<div>
  <table>
    <tr>
      <td>Blueprint</td>
      <td><%= @blueprint.blueprint_name -%></td>
    </tr>
    
    <tr>
      <td>ME Level</td>
      <td><%= @item.material_efficiency -%><%= ' (Perfect)' if @item.material_efficiency == @blueprint.perfect_material_efficiency-%></td>
    </tr>

    <tr>
      <td>PE Level</td>
      <td><%= @item.production_efficiency -%></td>
    </tr>

    <tr>
      <td>Tech Level</td>
      <td><%= @blueprint.tech_level -%></td>
    </tr>

    <tr>
      <td>Produces</td>
      <td><%= pluralize(@blueprint.product_batch_quantity, @blueprint.product_name) -%></td>
    </tr>

    <tr>
      <td>Max Runs</td>
      <td><%= @blueprint.production_limit -%></td>
    </tr>

    <tr>
      <td>Run Cost</td>
      <td><%= number_to_isk(@blueprint.run_cost(@item.material_efficiency)) -%></td>
    </tr>
  
    <% if @blueprint.product_batch_quantity > 1 -%>
    <tr>
      <td>Unit Cost</td>
      <td><%= number_to_isk(@blueprint.run_cost(@item.material_efficiency)) -%></td>
    </tr>
  <% end -%>

  </table>
</div>

<div>
  <h3>Bill of Materials</h3>
  <p>Assumes no incompetence waste.</p>
  <table>
    <tr>
      <td>Material</td>
      <td>Dmg/job</td>
      <td>Quantity</td>
      <td>Waste</td>
      <td>Perfect ME</td>
      <td>Cost</td>
    </tr>
    <% @materials.each do |material| -%>
    <tr>
      <td><%= material.material_name -%></td>
      <td><%= number_to_percentage((material.damage_per_job * 100), :precision => 0) -%></td>
      <td><%= number_with_delimiter(material.quantity(@item.material_efficiency)) -%></td>
      <td><%= number_with_delimiter(material.waste(@item.material_efficiency)) -%></td>
      <td><%= number_with_delimiter(material.perfect_material_efficiency) -%></td>
      <td><%= number_to_isk(material.cost) -%></td>
    </tr>
    <% end -%>
  </table>
</div>

<div>
  <h3>Required Skills</h3>
  <table>
    <tr>
      <td>Skill</td>
      <td>Level</td>
    </tr>
    <% @skills.each do |skill| -%>
      <tr>
        <td><%= skill.skill_name -%></td>
        <td><%= skill.level -%></td>
      </tr>
    <% end -%>
  </table>
</div>
