        <ul id='navigation-bar'>
          <li><%= link_to 'Home', home_url %></li>
          <li><%= link_to 'Financials', financial_url %></li>
          <li><%= link_to 'Corp BPs', inventory_url %></li>
          <li><%= link_to 'Carts', cart_url %></li>
          <li>
            <% form_tag({:controller => 'blueprint', :action => 'search'}, :method => 'get') do -%>
              <%= text_field_tag :search_term, nil, :size => 10, :id => 'nav_search_box' %>
            <% end -%>
          </li>
        </ul>
        <script type='text/javascript'>
        <!-- 
        $(document).ready(function() {
          $('#nav_search_box').val('Search BPs...').addClass('search-inactive').focus(function() {
            if($(this).val() == 'Search BPs...')
            {
              $(this).removeClass('search-inactive');
              $(this).val('');
            }
          }).blur(function() {
            if($(this).val() == '')
            {
              $(this).val('Search BPs...');
              $(this).addClass('search-inactive');
            }
          });
        });
        -->
        </script>
